<div class="MegaGridCell ellipseText flex-item-major"
     [style.width]="Cell.Column.Width"
     [ngClass]="{'MegaGridCellSeperator': Cell.showCellSeperator()}">
    <!--RowHeader-->
  <div class="MegaGridRowHeader"
       *ngIf="Cell.Column.ColumnType === columnType.Mark">
    <p class="centerText" *ngIf="Cell.Row.Selected">*</p>
  </div>

    <!--RowExpander-->
    <label class="expander CellContentMargin VerticalCenterAlignment"
           *ngIf="Cell.Column.ColumnType === columnType.Expander"
           name="expander">
      <input type="checkbox" style="display:none">
      <span class="triangle"></span>
    </label>

    <!--Row Checkbox-->
    <input class="HorizontalCenterAlignment VerticalCenterAlignment"
           *ngIf="Cell.Column.ColumnType === columnType.Checkbox"
           type="checkbox"
           name="checkRow">

    <!--Row Content-->
    <span class="CellContentMargin VerticalCenterAlignment"
          *ngIf="Cell.Column.ColumnType === columnType.Normal"
          (click)="onClick()">{{Cell.toString()}}</span>
</div>
