<div class="MegaGridRow"
     [ngClass]="{'MegaGridRowEvenBackground': Index % 2 == 0, 'MegaGridRowOddBackground': Index % 2 == 1}"
     (click)="Row.getGrid().Selection.AddSelection(Row)">
  <div id="mouseoverRowBackground" class="FullSize">
    <div [ngClass]="{'selectedRowBackground': Row.Selected}" class="FullSize">
      <app-cell class="HorizontalStackPanel"
                *ngFor="let col of Layout.Columns"
                [Cell]="Row.getCell(col.Id)"></app-cell>
    </div>
  </div>
</div>
